*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Oswald', sans-serif;
}
.header-content{
    background-image: url('./img/banner3.png');
    height: 90vh;
    display: flex;
   
    align-items: center;
    
}
.header-text{
    text-align: end;
    width: 500px;
    margin-left: 763px;
    color: white;
    
}
.header-text h1 {
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 38px;
    
}
.header-text p{
    margin-bottom: 25px;
    font-size: 25px;
}
.header-text button{
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background: #022542;
    color: white;
}


/* main part is start */


.main-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FCC424;
    
}
.main-text h1{
  font-size: 38px;
}
.year{
    color: white;
    font-size: 50px;
}
.main-text p{
    font-size: 25px;
    font-weight: bold;
}
.ul li{
    list-style: none;
    font-size: 25px;
    margin-left: 15px;
}
.ul li>span{
    color: white;
}
